.logo {
    width: 422px;
    height: 80px;
}

.bg-pace-orange {
    background-color: rgb(241, 95, 53)!important;
}

.bg-pace-yellow {
    background-color: #FDBB2A!important;
}

.bg-pace-grey {
    background-color: #939597!important;
}

.pace-orange--text {
    color: #F15F35!important;
}

.pace-yellow--text {
    color: #FDBB2A!important;
}

.pace-grey--text {
    color: #939597!important;
}

* {
    font-family: Lato, Arial!important;
}

.v-application .subtitle-1 {
    font-family: Lato, Arial!important;
}

.v-underline {
    text-decoration: underline;
}