.logo {
    width: 422px;
    height: 80px;
}

.bg-pace-orange {
    background-color: #F15F35!important;
}

.bg-pace-yellow {
    background-color: #FDBB2A!important;
}

.bg-pace-grey {
    background-color: #939597!important;
}

.pace-orange--text {
    color: #F15F35!important;
}

.pace-yellow--text {
    color: #FDBB2A!important;
}

.pace-grey--text {
    color: #939597!important;
}

.border-pace-orange {
    border: 1px solid #F15F35;
}

.border-pace-yellow {
    border: 1px solid #FDBB2A;
}

.border-pace-grey {
    border: 1px solid #939597;
}

* {
    font-family: Lato, Arial!important;
}

.v-application .subtitle-1 {
    font-family: Lato, Arial!important;
}

.v-underline {
    text-decoration: underline;
}

.active-item {
    background-color: #8A8B89;
}

.full-height {
    min-height: 100vh;
}

.page-title {
    font-size: 24px;
    font-weight: normal;
}

.page-header-title {
    font-size: 20px;
    font-weight: normal;
}

.resource-dialog {
    height: 100%;
    width: 60%;
    max-height: 100%!important;
}

.vue-notification-group {
    top: 10px!important;
}

.tiptap-label {
    font-size: 13px;
}

.font-weight-title {
    font-weight: 600!important;
}

.login-modal {
    box-shadow: none;
}

@media (min-width: 1264px) {
    .full-height-lg {
        min-height: 100vh;
    }
}

@media (min-width: 960px) {
    .full-height-md {
        min-height: 100vh;
    }
}

@media (max-width: 600px) {
    .resource-dialog {
        margin: 0;
        width: 100%;
    }
}